/**
 * {{&summary}}
 * @method
 * @name {{&className}}#{{&resourceName}}
{{#parameters}}
{{^isSingleton}} * @param {{=<% %>=}}{<%&type%>}<%={{ }}=%> {{&camelCaseName}} - {{&description}}{{/isSingleton}}
{{/parameters}}
 *
 */
 function {{&resourceName}} () {
 }
