var method = '{{method}}'.toLowerCase();

if(method === 'delete') {
  method = 'del';
}

var req = request[method](domain + path);

// Type form
if(Object.keys(form).length > 0) {
  req.type('form');
}

// Type json
if(typeof(body) === 'object') {
  req.set('Content-Type', 'application/json');
}

if(_this.withCredentials) {
  req.withCredentials();
}

req
.set(headers)
.query(queryParameters)
.send(body)
.end(function(err, res) {
  if (err) {
    return reject(err);
  }

  if(res.status >= 200 && res.status <= 299) {
   resolve({
     res: res,
     body: res.body
    });
  } else {
    reject(new Error('status is ' + res.status));
  }
});
